 body {
    background-color: #000;
 }

 .container {
    display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
   width: 100%;
   height: 100vh;
 }
 
 body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center; /* Центрируем по горизонтали */
  }

  /* Меню сортировки по центру */
  #menuContainer {
    background-color: #000;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    height: 100vh;
  }

  #menuButtons {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }

  .btn {
    background: lime;
    padding: 8px 12px;
    font-size: 18px;
    border-radius: 4px;
    border: 1px solid #000000;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.2s;
  }
  
  .btn:hover {
    background-color: #000000;
    color: aqua;
    transform: scale(1.02);
  }

  /* Канвас для визуализации */
  #canvas {
    /* border: 1px solid #000; */
    margin-top: 20px;

    /* Изначально скрыт */
    display: none; 
    align-items: center;
  }